@import "tailwindcss";

@theme {
    @keyframes rainbow-move {
        0% {
            background-position: 0% 0%;
        }

        100% {
            background-position: 300% 0%;
        }
    }

    --animate-rainbow-fast: rainbow-move 6s linear infinite;
}

@layer utilities {
    .bg-rainbow-vivid {
        background-image: linear-gradient(to left,
                #ff00ff, #00ffff, #00ff00, #ffff00, #ff0000, #ff00ff);
        background-size: 300% 100%;
    }
}